<!DOCTYPE html>
<html lang="en">
  <head>
      <script src="/static/js/jquery.js"></script>
      <script src="/static/js/base.js"></script>
      <script src="/static/js/bootstrap-button.js"></script>
      <script src="/static/js/jquery.jgrowl.js"></script>
      <link href="/static/css/jquery.jgrowl.css" rel="stylesheet"  type="text/css"/>
      <link href="/static/css/bootstrap.css" rel="stylesheet">
      <link href="/static/css/base.css" rel="stylesheet">
      <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
      <link rel="stylesheet" href="/static/css/docs.css" type="text/css"/>
      <script src="/static/js/date.js"></script>
     <script src="/static/js/daterangepicker.js"></script>
       <script src="/static/js/bootstrap-timepicker.js"></script> 
        <link href="/static/css/daterangepicker.css" rel="stylesheet">
               <link href="/static/css/timepicker.css" rel="stylesheet">

      <link rel="shortcut icon" href="/static/ico/favicon.ico">
      {% block header %}  
       
       {% endblock %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Effect Analyse System </title>
    <meta property="wb:webmaster" content="07f4c6cc5f9cddca" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EAS">
    <meta name="author" content="ericyue">
    
    
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  </head>

<body id="top">
    
   <div class="navbar navbar-fixed-top" id="pagewrap">
      
      <div class="navbar-inner">
          
          <p id="back-top">
              		<a href="#top"><span></span></a>
          </p>
        <div class="container-fluid">
          <div class="nav-collapse">
            <ul class="nav">
              <li><a class="brand" align="left" href="#">EAS</a></li>
              <li id="overview-top" class="active"><a href="/">Overview</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    <div class="row-fluid" id="main_form">
    <div class="span3" id="left_form">
          <div class="well sidebar-nav">
            <ul class="nav nav-list" id="menu_left">
<li class="nav-header">Overview</li>
	<li id="total_click"><a href="/overview/page?key=total_click">总点击次数</a></li>
    <li id="total_search"><a href="/overview/page?key=total_search">总搜索次数</a></li>
<li class="nav-header">点击相关</li>
<li id="click_rate"><a href="/overview/page?key=click_rate">点击率</a></li>
<li id="non_click_rate"><a href="/overview/page?key=non_click_rate">无点击率</a></li>
<li id="first_click_time"><a href="/overview/page?key=first_click_time">首次点击间隔</a></li>
<li class="nav-header">位置点击率相关</li>
      	
	           	<li id="pos1_click_rate"><a href="/overview/page?key=pos1_click_rate">Pos1点击率</a></li>
             
	           	
	           	<li id="pos2_click_rate"><a href="/overview/page?key=pos2_click_rate">Pos2点击率</a></li>
             
	           	
	           	<li id="pos3_click_rate"><a href="/overview/page?key=pos3_click_rate">Pos3点击率</a></li>
  	
	           	<li id="top3_click_rate"><a href="/overview/page?key=top3_click_rate">Top3点击率</a></li>
	     	     <li class="nav-header">翻页、query相关</li>
      	
	      
<li id="page_change_rate"><a href="/overview/page?key=page_change_rate">翻页率</a></li>
    <li id="page_change_insearch_rate"><a href="/overview/page?key=page_change_insearch_rate">有翻页的搜索比例</a></li>         
             <li id="query_change_rate"><a href="/overview/page?key=query_change_rate">Query更改率</a></li>

   	

<!--
	           {% for i in key_list%}
	           	<li id="total_search"><a href="/overview/page?key={{i.key_name}}">{{i.key_title}}</a></li>
             
	           	{%endfor%}
-->
            </ul>
          </div><!--/.well -->
   </div><!--/span-->

<div class="span9" id="right_form">
{% block content %}  
         
{% endblock %} 
</div>
         
    </div>
      <hr>
      <footer>
        <p>&copy; <a href="#" class="tooltip-test" title="more">OneBox Technology</a> 2012</p>
      </footer>

<blockquote class="pull-right">
    <!-- Place this render call where appropriate -->
  <p><b> @ericyue </b></p>
  <small><cite>version: Demo</cite></small>
</blockquote>

    </div> <!-- /container -->
    
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/highchart/highcharts.js"></script>
        <script src="/static/js/highchart/highcharts-more.js"></script>
         <script src="/static/js/highchart/modules/exporting.js"></script>


    <script src="/static/js/bootstrap-typeahead.js"></script>
    <script src="/static/js/application.js"></script>


  </body>
  
</html>
