{% extends "base.html" %}
{% block header %}

<script src="/static/js/login.js"></script>

{% endblock%}
{% block title %}登陆
{% endblock%}

{% block content %}
<header class="hero-unit " align="center">
    <h1>欢迎使用后台管理系统</h1>
    <p>Onebox Technology</p>
    <center>
    {% if form.has_errors %}
    <p>用户名和密码不匹配。请重试。</p>
    {% endif %}

    <form method="post" action=".">{% csrf_token %}
    <table>
    <tr><td><label for="id_username">用户名:</label></td><td>{{ form.username }}</td></tr>
    <tr><td><label for="id_password">密码:</label></td><td>{{ form.password }}</td></tr>
    </table>

    <input class="btn btn-primary btn-large" type="submit" value="Continue" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </center>
</header>
{% endblock %}
